{% extends "catalog/base.html" %} {% block title %}{{ product.name }}{% endblock %} {% block content %}
<h1 class="text-3xl font-bold mb-4">{{ product.name }}</h1>
<div class="flex">
  <!-- Main Image and Thumbnails -->
  <div class="w-1/2 p-4">
    <img
      id="mainImage"
      src="{{ product.image1.url }}"
      alt="{{ product.name }}"
      class="w-full h-auto mb-4"
    />
    <div class="flex">
      <img
        src="{{ product.image1.url }}"
        alt="{{ product.name }}"
        class="w-24 h-24 object-cover cursor-pointer mr-2"
        onclick="changeImage('{{ product.image1.url }}')"
      />
      <img
        src="{{ product.image2.url }}"
        alt="{{ product.name }}"
        class="w-24 h-24 object-cover cursor-pointer mr-2"
        onclick="changeImage('{{ product.image2.url }}')"
      />
      <img
        src="{{ product.image3.url }}"
        alt="{{ product.name }}"
        class="w-24 h-24 object-cover cursor-pointer mr-2"
        onclick="changeImage('{{ product.image3.url }}')"
      />
      {% if product.image4 %}
      <img
        src="{{ product.image4.url }}"
        alt="{{ product.name }}"
        class="w-24 h-24 object-cover cursor-pointer mr-2"
        onclick="changeImage('{{ product.image4.url }}')"
      />
      {% endif %}
    </div>
  </div>

  <!-- Product Details -->
  <div class="w-1/2 p-4">
    <p class="mb-2"><strong>Description:</strong> {{ product.description }}</p>
    <p class="mb-2"><strong>Dimensions:</strong> {{ product.dimensions }}</p>
    <p class="mb-2"><strong>Additional Details:</strong></p>
    <p>{{ product.additional_details }}</p>
  </div>
</div>

<script>
  function changeImage(src) {
    document.getElementById("mainImage").src = src;
  }
</script>
{% endblock %}
